ul {
    list-style-type: none;
    margin: 0;
    padding: 2px;
    overflow: hidden;
    background-color: deepskyblue;
}



li a {
    display: block;
    padding: 16px 18px;
    background-color: deepskyblue
}

servicetype{
   white-space: nowrap;
}